@model LoginModel
@{
    Layout = "_Layout";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
       

        <!-- Login Form -->
        <form asp-action="Join">
            <span asp-validation-for="@Model.ID" class="text-danger"></span>
            <input asp-for="@Model.ID" id="ID" class="fadeIn second" name="ID" placeholder="login">
            <span asp-validation-for="@Model.PW" class="text-danger"></span>
            <input asp-for="@Model.PW" id="PW" class="fadeIn third" name="PW" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
    <div>
        <div class="btn btn-primary btnRtn">돌아가기</div>
        <div class="btn btn-success btnJoin">가입하기</div>
    </div>
</div>